<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Signin</title>

    <!-- CSS読み込み -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <!-- JS読み込み -->
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
    <script th:src="@{/js/color-modes.js}" defer></script>
    <!-- Custom styles for this template -->
    <link th:href="@{/css/admin/admin.css}" rel="stylesheet">

</head>
<body>

<header th:replace="admin/admin-header"></header>

<main >

</main>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" defer></script>

</body>
</html>
