<html xmlns:th="http://www.thymeleaf.org">
<svg th:replace="common/svg"></svg>
<header id="form-header">
    <div class="px-3 py-2 text-bg-light border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/"
                   class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                サインイン</a>

                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <li>
                        <a href="#" class="nav-link text-warning">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#unlock"/></svg>
                            サインイン
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-primary">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#signup"/></svg>
                            サインアップ
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>